@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

:root {
    --green: #50fa7b;
    --purple: #7159c1;
    --grey: #333;
}

* {
    margin: 0;
    padding: 0;
    border: 0; 
 }
 body {
     background: #20103a;
     font-family: 'Source Sans Pro', sans-serif;
     color: white;
 }
 header {
     padding: 30px;
     border-bottom: 1px solid var(--grey);
     background: rgba(0, 0, 0, 0.274)
 }
 header div {
     text-align: center;
 }
 header div a {
     font-size: 18px;
     line-height: 28px;
     color: white;
     margin: 0 30px;
     text-decoration: none;
 }
 header div a:hover {
     color: var(--green);
     transition: 200ms;
 }

 #wrapper {
     text-align: center;
     padding: 20px;
 }

 #wrapper img {
    margin-top: 10px;
    border-radius: 50%;
    border: 5px solid var(--green);
 }

 #wrapper h1 {
     margin-top: 20px;
     font-weight: bold;
     font-size: 35px;
 }

 #wrapper p {
     max-width: 500px;
     margin: 24px auto;
     line-height: 20px;
 }

 #wrapper a {
     text-decoration: none;
     color: white;
 }

 #wrapper a:hover {
    color: var(--green);
    transition: 200ms;
 }

 #wrapper ul {
    max-width: 500px;
    margin: 24px auto;
    line-height: 24px;
 }

 #wrapper li {
     max-width: 100px;
     margin: 0px auto;
 }

 #social {
    text-align: center;
    padding: 0px 500px;
    margin: 0px auto;
 }

 #social img {
    max-width: 25px;
    padding: 20px;
    border-radius: 20px;
    transition: background-color 200ms;
 }

 #social img:hover {
    background-color: var(--green);
 }

 /*====== CARDS ======*/

 .cards {
     max-width: 800px;
     margin: 0 auto;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     gap: 20px;
 }

 .card {
     margin-top: 30px;
     border-radius: 50px;
     background-color: var(--grey);
 }

 .image-starter img {
     width: 50%;
     margin: 50px;
     padding: 10px;
 }

 .image-launch img {
     width: 86%;
     margin: 50px 100px 50px 21px;
     padding: 10px 0px 10px 0px;
}

.image-stack img {
    width: 60%;
    margin: 50px 30px 50px 43px;
    padding: 10px;
}

 .content {
     display: grid;
     grid-template-columns: 1fr;
 }

 .content p {
     padding: 10px;
     margin: 10px;
 }

 .price {
     margin: 10px;
 }