@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

:root {
    --green: #50fa7b;
}

* {
    margin: 0;
    padding: 0;
    border: 0; 
 }
 body {
     background: #20103a;
     font-family: 'Source Sans Pro', sans-serif;
     color: white;
 }
 header {
     padding: 30px;
     border-bottom: 1px solid #333;
     background: rgba(0, 0, 0, 0.274)
 }
 header div {
     text-align: center;
 }
 header div a {
     font-size: 18px;
     line-height: 28px;
     color: white;
     margin: 0 30px;
     text-decoration: none;
 }
 header div a:hover {
     color: var(--green);
     transition: 200ms;
 }

 #wrapper {
     text-align: center;
     padding: 20px;
 }

 #wrapper img {
    margin-top: 10px;
    border-radius: 50%;
    border: 5px solid var(--green);
 }

 #wrapper h1 {
     margin-top: 20px;
     font-weight: bold;
     font-size: 35px;
 }

 #wrapper p {
     max-width: 500px;
     margin: 24px auto;
     line-height: 20px;
 }

 #wrapper ul {
    max-width: 500px;
    margin: 24px auto;
    line-height: 24px;
 }

 #wrapper li {
     max-width: 100px;
     margin: 0px auto;
 }

 #social {
    text-align: center;
    padding: 0px 500px;
    margin: 0px auto;
 }

 #social img {
    max-width: 30px;
    padding: 20px;
 }